* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body,
input,
textarea,
button {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
}

button:disabled {
  cursor: auto;
  opacity: 0.5 !important;
}

input:disabled {
  cursor: auto;
  opacity: 0.5 !important;
}
